{% extends 'docs.html' %}

{% block article %}
<div class="article-child">
<article class="article">
  <ul>
    <h4>Cascading Style Sheets</h4>
    <li>site-title</li>
    <li>nav</li>
    <li>main</li>
    <li>
      <h4>display</h4>
      <ol>
        <li>
          <h4>flexbox</h4>
          <ul>
            <li>flie-direction</li>
            <li>justify-content</li>
          </ul>
        </li>
      </ol>
      <h4>article</h4>
      <h4>sidebar</h4>
    </li>
  </ul>
</article>
</div>
{% endblock %}
