{% extends "tutorials.html" %}

{% block article %}
<div class="article-child">
  <article class="article">
    <ul>
      <h4>HTML/BOOTSTRAP</h4>
      <menu>
        <div class="menu-link">
          <a href="#intro">Introduction</a>
        </div>
        <div class="menu-link">
          <a href="#tagsandelements">Tags and Elements</a>
        </div>
        <div class="menu-link">
          <a href="#attributes">Attributes</a>
        </div>
        <div class="menu-link">
          <a href="#formatting">Formatting</a>
        </div>
        <div class="menu-link">
          <a href="#links">Links</a>
        </div>
        <div class="menu-link">
          <a href="#headtags">Head Tags</a>
        </div>
        <div class="menu-link">
          <a href="#tables">Tables</a>
        </div>
        <div class="menu-link">
          <a href="#lists">Lists</a>
        </div>
        <div class="menu-link">
          <a href="#blockelements">Block Elements</a>
        </div>
        <div class="menu-link">
          <a href="#forms">Forms</a>
        </div>
        <div class="menu-link">
          <a href="#iframes">Iframes</a>
        </div>
        <div class="menu-link">
          <a href="#mediaqueries">Media Queries</a>
        </div>
      </menu>
      <li>
        <h4>Hyper Text MarkUp Language</h4>
      <ol>
        <li id="intro">
          <h4>Introduction</h4>
          <p>This is main root of a HTML document.</p>
          The HTML element represents the root i.e. top level element of an HTML document.
          <iframe src="/static/htmlmainroot.txt" width="175" height="100" class="doc"></iframe>
          <p>So, it is also referred to as the root element. All other elements must be descendants of this elements</p>
        </li>
        <br>
        <li id="tagsandelements">
          <h4>Tags and Elements</h4>
          <pre>

          </pre>
      </ol>
    </ul>
  </article>
</div>
{% endblock %}
