{% extends 'projects.html' %}
{% block article %}
<div class="article-child">
  <article class="article">
    <ul>
      <h4>Progressive Web App</h4>
        <h4>
          <small>Operating System : <em>Debian Linux</em></small>
        </h4>
        <p>List of commands for development enviroment:</p>
        <li>sudo apt-get update</li>
        <li>sudo apt install node.js</li>
        <li>sudo apt install npm</li>
        <li>sudo node -v && npm -v</li>
        <li>sudo npm install -g @vue/cli-init</li>
        <li>sudo vue init pwa workshoppwa</li>
        <li>cd workshoppwa</li>
        <li>npm install </li>
        <li>npm run dev</li>
        <li>npm run build</li>
      </ul>
  </article>
</div>
{% endblock %}
