{% extends 'fopl.html' %}
{% block article %}
<div class="article-child">
  <article class="article">
    <h4>Pre-requsite</h4>
    <menu>
      <div class="menu-link">
        <a href="#commandline">
          <h6>Command Line</h6>
        </a>
      </div>
      <div class="menu-link">
        <a href="#operators">
          <h6>Operators</h6>
        </a>
      </div>
    </menu>
  <ol>
    <li id="commandline">
      <h4>Command Line</h4>
        <ul>
          <li>
            <h4>ls</h4>
          </li>
          <li>
            <h4>cd</h4>
          </li>
          <li>
            <h4>pwd</h4>
          </li>
          <li>
            <h4>mkdir</h4>
          </li>
          <li>
            <h4>cp</h4>
          </li>
          <li>
            <h4>rm</h4>
          </li>
          <li>
            <h4>mv</h4>
          </li>
          <li>
            <h4>chmod</h4>
          </li>
          <li>
            <h4>ln</h4>
          </li>
          <li>
            <h4>touch</h4>
          </li>
          <li>
            <h4>rmdir</h4>
          </li>
          <li>
            <h4>man</h4>
          </li>
          <li>
            <h4>diff</h4>
          </li>
          <li>
            <h4>sudo</h4>
          </li>
          <li>
          <h4>clear</h4>
        </li>
          <li>
            <h4>telnet</h4>
          </li>
        </ul>
    </li>
    <li id="operators"><h4>Operators</h4></li>
  </ol>
  </article>
</div>
{% endblock %}
